<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/addbaiviet">
        <div class="form-group">

            <label for="tieudelon" style="font-weight:bold">Tiêu đề lớn</label>
            <input type="text" class="form-control" name="tieudelon" id="" aria-describedby="helpId" placeholder="" required>
            <small id="helpId" class="form-text text-muted"> &nbsp;</small>

            <label for="tieudenho " style="font-weight:bold">Tiêu đề nhỏ</label>
            <input type="text" class="form-control" name="tieudenho" id="" aria-describedby="helpId" placeholder="" required>
            <small id="helpId" class="form-text text-muted"> &nbsp;</small>

            <label for="trangthai" style="font-weight:bold">Trang thái</label>
            <input type="text" class="form-control" name="trangthai" id="" aria-describedby="helpId" placeholder="" required>
            <small id="helpId" class="form-text text-muted"> &nbsp;</small>

            <label for="link" style="font-weight:bold">Link</label>
            <input type="text" class="form-control" name="link" id="" aria-describedby="helpId" placeholder="" required>
            <small id="helpId" class="form-text text-muted"> &nbsp;</small>

            <label for="theloai" style="font-weight:bold">Thể loại</label>
            <input type="text" class="form-control" name="theloai" id="" aria-describedby="helpId" placeholder="" required>
            <small id="helpId" class="form-text text-muted"> &nbsp;</small>



            <button type="submit" class="btn btn-primary">OK</button>
            <button type="cancel" class="btn btn-primary">Cancel</button>
        </div>

    </form>
</body>
</html>