<!DOCTYPE html>
<html>
<head>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<style>

	.icon-block {
		padding: 0 15px;
	}
	.icon-block .material-icons {
		font-size: inherit;
	}
</style>
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Home</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Home</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <br>
  <br>
  <div class="container">
  	<div class="row">
  		<nav>
  			<div class="nav-wrapper">
  				<div class="col s12">
  					<a href="#!" class="breadcrumb">Tin tức</a>
  					<a href="#!" class="breadcrumb">Thể thao</a>
  					<a href="#!" class="breadcrumb">Messi</a>
  				</div>
  			</div>
  		</nav>
  	</div>
  </div>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Argentina - Nigeria: Cứu tinh bất ngờ, vỡ òa bàn thắng phút 86 (World Cup 2018)</h1>
      <div class="row center">
        <h5 class="header col s12 light">Sự tỏa sáng siêu sao, những sai lầm và một bàn thắng đến ở phút 86 đã làm nên trận cầu gay cấn.</h5>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <!-- <div class="section"> -->

      <!--   Icon Section   -->
      <div class="row">
      	<div class="col s12 m4 l2"><p></p></div>
      	<!-- <div class="col s12 m4 l8"><p>s12 m4</p></div> -->
        <div class="col s12 m12 18">
          <div class="icon-block">
            <p style="line-height: 1.6; text-align: justify;" class="light">Trong thế không có gì để mất, Argentina tràn lên ép sân cực kỳ quyết tâm và các cầu thủ của họ lăn xả trong mọi tình huống bóng 50/50. Sự có mặt của Banega ở tuyến giữa mang lại cho Argentina một chân chuyền lợi hại, và ở phút 14 Banega đã tạo ra bước ngoặt đầu tiên: Cú phất dài từ giữa sân của anh được Messi băng xuống khống chế hoàn hảo trước khi sút chéo góc mở tỷ số.

Nigeria buộc phải tấn công nhưng họ bị dao động tâm lý do sự áp sát dữ dội ngay từ các tiền đạo Argentina. Và các pha phản công của "La Albiceleste" tỏ ra cực kỳ lợi hại: Phút 27 Higuain đã suýt ghi bàn từ quả chọc khe của Messi nếu như thủ môn Uzoho không dũng cảm cản phá và bị đầu gối của Higuain đập trúng đầu. 5 phút sau, Di Maria được Banega chọc khe đưa bóng xuống trước khi bị phạm lỗi, và những đầu ngón tay của Uzoho đã khiến cú đá phạt của Messi đập cột dọc.

Nigeria cố gắng ép sân trong những phút cuối hiệp 1, nhưng lợi thế thể lực của họ bị áp chế bởi sự phối hợp chính xác và cả các pha phá bóng lăn xả đến từ cả thủ môn Armani. Phút 44, Iheanacho ngã trong khu 16m50 của Argentina do pha cao chân phá bóng của Rojo nhưng trọng tài từ chối cho Nigeria hưởng 11m.</p>
          </div>
        </div>
        <div class="col s12 m4 l2"><p></p></div>

  <!--       <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div> -->
      <!-- </div> -->

    </div>
      
   <div class="container">
   	<div class="row">
   		          <div class="icon-block">
   		<div class="col s12 m12" style="line-height: 1.6; text-align: justify;">
   			    <img class="responsive-img" src="https://image.24h.com.vn/upload/2-2018/images/2018-06-27/1530038999748_lc_galleryimage_st_petersburg_russia_june-660-1530039268-526-width660height404.jpg">
   			    <br>

   			Những fan ruột của Messi, chắc chắn sẽ bằng mọi cách tìm ra đủ loại lý do để đổ lỗi cho 1 ai đó, như HLV Jorge Sampaoli như các đồng đội không cùng đẳng cấp với “số 10” cho màn trình diễn thảm hại vừa qua của Argentina, để bảo vệ thần tượng lớn của họ. Dù Đúng dù Sai, tình yêu không bao giờ có lỗi! Các nhà chuyên môn bóng đá lành nghề sẽ đưa ra vô vàn những phân tích để lý giải tại sao Messi – Argentina không thể và không bao giờ là Messi tuyệt đỉnh siêu hạng ở Barcelona. 
 
Còn tôi, một tay phóng viên quốc tế quèn, cũng chẳng phải là một fan của Messi nhưng lại có cơ hội dõi theo những bước chân của chàng trai này từ giải U-20 Thế giới 2005; được nhìn thấy nụ cười tươi trẻ và ánh mắt ngập tràn đam mê của Messi khi lần đầu sút tung lưới Real Madrid từ đường chuyền của đàn anh Ronaldinho; được chứng kiến Messi - sát cánh bên cạnh Juan Riquelme trong 1 tập thể Argentina có lẽ là tài năng nhất kể từ đầu thế kỉ 21 - thất bại ở tứ kết World Cup 2006 và thua tiếp trận chung kết Copa America sau đó 1 năm; được thấy sự trưởng thành và khát khao chinh phục mạnh mẽ của Messi từ World Cup 2010 đến World Cup 2014; và cho tới tận bây giờ vẫn còn chưa quên ánh mắt của “số 10” khi anh đi qua Cúp Vàng – thứ đã thuộc về người Đức – tại Maracana 4 năm trước, lại nghĩ rằng: gã cầu thủ thiên tài trăm năm có một này đã phạm… 1 lỗi rất lớn. 
 
Nhưng không phải Messi mắc lỗi với Argentina, mắc lỗi với những người luôn đặt kì vọng rất cao ở anh mà là Messi có lỗi với chính mình. Messi khác với Ronaldo – 1 siêu sao luôn hướng tới việc chinh phục  tất thảy những đỉnh cao nhất trong sự nghiệp bằng sự chuyên nghiệp đáng ngưỡng mộ và nỗ lực tự thân tưởng chừng không có giới hạn. Messi chơi bóng, chiến đấu, chiến thắng và vươn lên đỉnh cao không chỉ với tài năng thiên phú mà còn nhờ niềm đam mê đặc biệt. Nhưng như chính Sampaoli nói trước VCK tại Nga Hè này “áp lực phải vô địch World Cup hệt như một khẩu súng luôn dí sát vào đầu Messi. Nếu cậu ấy thất bại, súng sẽ nổ”. Trong ngàn cân áp lực, trong tột cùng sức ép, đam mê có chỗ để tồn tại hay không?
   		</div>
   	</div>
   	</div>
   </div>
     

  </div>
  
  

  <footer class="page-footer " style="padding-top: 50px; background: #484248; padding-bottom: 50px;">
		<div class="container">
			<div class="row">
				<form action="">
					<div></div>
					<div class="col s2"></div>
					<div class="col s8"> Bình luận của bạn
						<form method="get">
							<!-- -->
							<textarea name="body" style="color: snow;
							  					line-height: 1.2em;
							  					height: 90px;
							  					margin: 0 -5px;
							  					width: 100%;">
							
							  				</textarea>
							<br/>
		
							<small style="font-style: italic">
								<span class="italic-text">
									Bình luận không dấu, chửi thề, vi phạm thuần phong mỹ tục Việt Nam,…sẽ không được đăng.
								</span>
							</small>
							<br>
							<div class="text-xs-center">
								<button class="btn waves-effect waves-light" type="submit" name="action" style="background: #f1bc78;color: white;margin-top: 10px;">Send
									<i class="material-icons right"></i>
								</button>
							</div>
						</form>
					</div>
					<div class="col s4"></div>
				</form>
			</div>
		</div>
</footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  </body>
</html>