<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <style>
            body {background: linear-gradient(86deg,#eadfe1,#03A9F4);}
            .jumbotron {background: transparent; }
            .table-hover tbody tr:hover {
            background-color: #ffffffbf;}
            </style>
            <script>
              $(document).ready(function(){
    $('.datepicker').datepicker();
  });
            </script>
</head>

<body>

    <!-- <input type="date" class="datepicker" value=""> -->


    <!-- <input type="date" class="datepicker"> -->

<div class="jumbotron center">
    <h1 class="display-5 text-center">Thêm bài viết (Home page )</h1>
   
</div>
<div class="container">
    <div class="row">


        <div class="col 4"></div>
        <div class="col 4">
            <form method="POST" action="/admin/index/addd">
                <div class="form-group">

                    <label for="tieudelon" style="font-weight:bold">Tiêu đề lớn</label>
                    <input type="text" class="form-control" name="tieudelon" id="" aria-describedby="helpId" placeholder="" required>
                    <small id="helpId" class="form-text text-muted"> &nbsp;</small>

                    <label for="tieudenho " style="font-weight:bold">Tiêu đề nhỏ</label>
                    <input type="text" class="form-control" name="tieudenho" id="" aria-describedby="helpId" placeholder="" required>
                    <small id="helpId" class="form-text text-muted"> &nbsp;</small>

                    <label for="trangthai" style="font-weight:bold">Trang thái</label>
                    <input type="text" class="form-control" name="trangthai" id="" aria-describedby="helpId" placeholder="" required>
                    <small id="helpId" class="form-text text-muted"> &nbsp;</small>

                    <label for="link" style="font-weight:bold">Link</label>
                    <input type="text" class="form-control" name="link" id="" aria-describedby="helpId" placeholder="" required>
                    <small id="helpId" class="form-text text-muted"> &nbsp;</small>

                    <label for="theloai" style="font-weight:bold">Thể loại</label>
                    <input type="text" class="form-control" name="theloai" id="" aria-describedby="helpId" placeholder="" required>
                    <small id="helpId" class="form-text text-muted"> &nbsp;</small>
<!-- 
                    <label for="theloai" style="font-weight:bold">Thể loại</label>  
                    <input type="date" class="datepicker"> -->


                    <button type="submit" class="btn btn-primary">OK</button>
                    <button type="cancel" class="btn btn-primary">Cancel</button>
                </div>

            </form>
        </div>


    </div>
</div>

  <script>
   $(document).ready(function(){
    $('.timepicker').timepicker();
    $('.timepicker').open();

  });

</script>

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script> -->
</body>

</html>

<!-- <html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Password Protected page</title>
<script type="text/javascript">
var s ="";

while (s!= "namhoangle")
{
s=prompt("please enter your password");
if (s=="namhoangle")
{
window.location.href="correct.html"; //page to redirect if password entered is correct

}
else
{
alert("Incorrect password-Try again");

}
}
</script>
</head>

<body>
</body>
</html> -->